global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 debug
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    nbproc      1 # Number of processing cores.

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000


# FrontEnd
frontend main
    bind *:80
    option http-server-close
    option forwardfor
    default_backend app-main


# BackEnd
backend app-main
    balance roundrobin
    option httpchk HEAD / HTTP/1.1\r\nHost:\ localhost
    server Test2 192.168.30.2:8000 check
    server Test3 192.168.30.3:8000 check
