<!doctype html>
<html>
  <head>
    <title>Availability</title>
  </head>
  <body>
    <h2>Marat is available 24/7 for on-call duty</h2>
    <img src="http://www.todayifoundout.com/wp-content/uploads/2017/08/Queens-Guard.jpg" width="500" height="800">
  </body>
</html>
