user nginx;

worker_processes 1;
# Because I tested on 1 CPU host

#daemon off;
pid /var/run/nginx.pid;

error_log /var/log/nginx_error.log;

events {
    worker_connections 1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    server {
        listen 8000;

        access_log   /var/log/nginx/access.log  main;

        root /var/www/;

        location / {
            index local.html;
        }

        location /probe_local/ {
#            sub_filter /probe_local/ /;
            root /var/www;
#            rewrite ^/probe_local/(.*)$ $1 break;
            index local.html;
        }

        location /probe_applicant/ {
            return 301 https://calendar.google.com/calendar?cid=ZDV1ZjcwdGlhMGIzMnJ2MW0wcTd1cWFndmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ;
        }

        location /dogs/ {
            return 301 http://httpstatusdogs.com;
        }

        location /probe_remote/ {
            return 301 localhost:5500;
        }
    }
}

